*{
    margin: 0px;
    padding: 0px;}
html{
    
    scroll-behavior: smooth;/*Делает переход плавным*/}
    body {
        font-family:  'Open Sans', sans-serif;
        background: rgb(226, 196, 175);

    }
header nav ul{ 
    list-style: none;
    display: flex;
    justify-content: end;
}
header nav ul li a{
    color: blueviolet;
    text-decoration: none;
    font-size: 21px;
    line-height: 40px;
    font-weight: bold;

    border: 2px solid #000;
    padding: 5px 10px;
    border-radius: 20px;
    display: block;
    transition: all 0,3s; /*удлиняет блоки*/

}
header nav ul li a:hover{
background: linear-gradient(45deg,  rgb(248, 247, 250) 0%, #000 100%); /*градиент*/
color: white;
transition: all .3s; /*меняет плавно цвет*/
}
header{
    margin: 40px 0px;} /*отступ*/
header nav ul li {
        margin-right: 15px;
}
header nav ul li a:active {
    background: rgb(196, 16, 16);
    border: 2px solid rgb(26, 178, 224);
}

.product-card_info {
    width: 100%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;

}
.product-card-info_title{
display: flex;
justify-content: space-between;

}
.product-card_image img{
max-width: 100%;
max-height: 100%;
}
.product-card_image img{
    width: 500px;
    min-width: 150px;
    height: 300px;
    border: 1px solid #000;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    align-items: center;
}
.product-card{
    display: flex;
    width: 100%;
    margin-top: 20px;
}
.product-card-info-btn{
    margin-top: auto;
    display: flex;
    justify-content: end;
}

.product-card-info-btn a{
    text-decoration: none;
    border: 1px solid #131113f1;
    background: rgb(64, 15, 223);
    color: aliceblue;
    border-radius: 20px;
    padding: 5px;
}
.container{
    width: 1000px;
    margin: 0px auto;
    box-sizing: border-box;
}

.catalog{
    background:white (180, 28%, 90%);
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
.catalog:hover{
    transition: all 0.3s;
    box-shadow:10px 10px 40px rgba(0, 0, 0, 0.5);;
}       