*{
    margin: 0px;
    padding: 0px;}
html{
    
    scroll-behavior: smooth;/*Делает переход плавным*/}
header nav ul{ 
    list-style: none;
    display: flex;
    justify-content: end;
}
header nav ul li a{
    color: blueviolet;
    text-decoration: none;
    font-size: 21px;
    line-height: 40px;
    font-weight: bold;

    border: 2px solid #000;
    padding: 5px 10px;
    border-radius: 20px;
    display: block;
    transition: all 0,3s; /*удлиняет блоки*/

}
header nav ul li a:hover{
background: linear-gradient(45deg,  rgb(248, 247, 250) 0%, #000 100%); /*градиент*/
color: white;
transition: all .3s; /*меняет плавно цвет*/
}
header{
    margin: 40px 0px;} /*отступ*/
header nav ul li {
        margin-right: 15px;
}
header nav ul li a:active {
    background: rgb(196, 16, 16);
    border: 2px solid rgb(26, 178, 224);
}